@tailwind base;
@tailwind components;
@tailwind utilities;
.container{max-width: 1170px;margin: 0 auto;width: 100%;}
.cuisines, .card-details h3{overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}

 .promoted:before{   z-index: -1;
    position: absolute;
    top: 24px;
    left: 0px;
    margin-left: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 30px #ef9039;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}


.fixedNav{
    position: fixed;
    top: 30px;
    left: 0;
    background: #ccc;
    max-width: 200px;
}