@tailwind base;
@tailwind components;
@tailwind utilities;
.container{max-width: 1170px;margin: 0 auto;width: 100%;}
.cuisines, .card-details h3{overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}